<h1> Review Index Page </h1>

  
<% if @strain %>
  <h1>Reviews for <%= @strain.name %> - <%= @strain.category %></h1>
<% else %>
  <h1>All the Reviews </h1>
<% end %>

<ul>
<% @reviews.each do |review| %>

  <li>
  <%= review.strain.name%>: <%= link_to review.form, review_path(review)%> - <%= review.pot_leaves%> 
  </li> <br>

<% end %>
</ul>