<h1>All the Strains</h1>
<%= form_tag('/strains',:method=>:get) do %>                          
<%= select_tag "grower_id", options_from_collection_for_select(Grower.all, "id", "name", params[:grower_id]), include_blank: 'Select One' %>    
<%= submit_tag %>
<% end %>
<% @strains.each do |s| %>

  <h2><%= link_to s.name, strain_path(s.id)%> - <%= s.grower.name %></h2>
  <%= link_to "Write a review", new_strain_review_path(s.id) %> 
  <p><%= s.category %></p>
  <% end %>